.bg-dark {
  background-color: $black-cl;
}
.cl-gray {
  color: $gray;
}
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
body {
  // height: 1000vh;
  // background: $gray;
}
body.menu-show {
  overflow: hidden;
  .overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: $blue;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  i {
    color: $white-cl;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

button.flickity-button.flickity-prev-next-button:disabled {
  opacity: 0;
}
button.flickity-button.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  &:hover {
    svg {
      fill: $blue;
    }
  }
}
.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white-cl;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  &:hover {
    color: $blue;
  }
  &.prev {
    left: 10px;
  }
  &.next {
    right: 10px;
  }
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  background: $white-bg-cl;
  width: 320px;
  height: 100vh;
  padding-top: 72px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translateX(100%);
  &.show {
    transform: translateX(0);
  }
  .cart__wrapper {
    padding: 15px 0;
  }

  .cart__main {
    margin-bottom: 40px;
    overflow-y: auto;
    height: calc(100% - 340px);
    @include custom-scrollbar;
    .quantity {
      width: 30px;
      font-size: 13px;
      font-weight: 600;
      display: inline;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #cacdd8;
      .img {
        display: flex;
        align-items: center;
        width: calc(100% - 65px);
        img {
          width: 65px;
          height: 65px;
        }
        p {
          @include overtext(2);
        }
      }
      .remove {
        width: 30px;
        height: 30px;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        font-weight: 600;
        font-size: 25px;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .cart__checkout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $white-cl;
    height: 70px;
    a {
      background: $blue;
      color: $white-cl;
    }
  }
  a {
    color: $blue;
    font-weight: 600;
    border: 2px solid $blue;
    border-radius: 50px;
    width: 250px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    transition: 0.3s;
    &:hover {
      color: $white-cl;
      background: $blue;
    }
  }
}
body.hidden {
  overflow: hidden;
}
.heading {
  text-align: center;
  padding-bottom: 10px;
  &.left {
    text-align: start;
  }
  h2 {
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
    @include tablet {
      font-size: 18px;
    }
  }
  p {
    color: $gray;
    line-height: 18px;
  }
}
