main {
  .hero {
    overflow: hidden;
    &:hover {
      i.control {
        opacity: 1;
      }
    }
    &__carousel {
      width: 100%;
      height: 328px;
      @include mobile {
        height: auto;
      }
      &-item {
        width: 100%;
        height: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    position: relative;
  }
  .products {
    padding: 15px 0;
    &.pdbg {
      .container-fluid {
        display: flex;
        align-items: center;
        gap: 20px;
        @include mobile {
          display: block;
        }
      }
      .products__main {
        // display: flex;
        width: calc(100% - 235px);
        @include mobile {
          width: 100%;
        }
        .products__main-carousel {
          width: 100%;
        }
      }
    }
    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;

      a {
        text-decoration: underline;
        color: $blue;
        font-weight: 500;
        font-size: 15px;
        @include mobile {
          font-size: 14px;
        }
      }
    }
    &__main {
      position: relative;
      i.control {
        opacity: 1;
        color: $black-cl;
        &:hover {
          color: $blue;
        }
      }

      .product__main-item {
        background: $white-bg-cl;
        padding: 10px 25px;
        border-radius: 6px;
        margin-right: 13px;
        width: 235px;
        height: 340px;
        .img {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 150px;
            height: 150px;
          }
        }
        .text {
          padding: 10px 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: calc(100% - 150px);
          h3 {
            color: $black-cl;
            font-size: 13px;
            font-weight: 500;
            @include overtext(3);
          }
          p {
            &.discount {
              color: $gray;
              font-size: 12px;
              margin-bottom: 10px;
            }
            &.price {
              color: $black-cl;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .endow {
    margin: 10px 0;
    .text {
      background: $white-bg-cl;
      text-align: center;
      height: 67px;
      line-height: 67px;
      color: #272560;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .hero {
    &:hover {
      .flickity-button {
        opacity: 1;
      }
    }
    .flickity-button {
      opacity: 0;
      transition: 0.3s;
    }
  }
  .news {
    padding: 15px 0;
    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: underline;
        color: #0156ff;
        font-weight: 500;
        font-size: 15px;
      }
    }
    .news__carousel {
      .new__item {
        background: #fff;
        border-radius: 6px;
        margin-right: 13px;
        width: 235px;
        &:hover {
          a {
            p {
              color: $blue;
            }
            img {
              transform: scale(1.15);
              filter: brightness(50%);
            }
          }
        }
        a {
          font-weight: 500;
        }
        span {
          color: $gray;
          font-size: 13px;
        }
        .img {
          overflow: hidden;

          img {
            width: 100%;
            object-fit: cover;
            transition: 0.3s;
          }
        }

        .text {
          padding: 10px;
          p {
            transition: 0.3s;
            @include overtext(3);
            min-height: 50px;
          }
        }
      }
    }
  }
}
