#products {
  section.products {
    .products__main {
      .products__main-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        @include tablet {
          gap: 10px;
        }
        .product__main-item {
          margin-right: 0 !important;
          margin-top: calc(15px / 2);
          margin-bottom: calc(15px / 2);
          width: calc((100% / 6) - 15px);
          @include tablet {
            width: calc((100% / 3) - 7.5px);
          }
          @include mobile {
            width: calc((100% / 2) - 7.5px);
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}
.pagination {
  margin-top: 20px;
  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    &-item {
      width: 30px;
      height: 30px;
      border: 2px solid $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 600;
      border-radius: 100%;
      transition: 0.3s;
      &:hover {
        color: $white-cl;
        background: $blue;
      }
    }
  }
}
